- body_class :blank

.container
  .row
    .col.s6.offset-s3
      .center.bd-logo-fix= image_tag('bd plain logo.jpg')
      = simple_form_for @user, url: login_path, method: :post, html: { class: 'well white top-margin-xl' } do |f|
        .input-field
          %i.material-icons.prefix perm_identity
          = f.label :username, required: false
          = f.input_field :username, class: 'form-control'

        .input-field
          %i.material-icons.prefix lock
          = f.label :password
          = f.input_field :password, class: 'form-control'

        = f.submit t('session.login'), class: 'btn btn-large full-width light-blue darken-1'

      = link_to 'Continue as Guest', '#', class: 'btn btn-large waves-effect full-width orange darken-1'
