- body_class 'blue-grey lighten-5 has-aside'
- title @lobby.name
- description @lobby.inspect

%aside
  .row.no-margin
    %ul.tabs.tabs-border
      %li.tab.col.s4= link_to material_icon('chat'), '#chat'
      %li.tab.col.s4= link_to material_icon('supervisor_account'), '#users'
      %li.tab.col.s4= link_to material_icon('settings'), '#settings'

  #chat.content
    .system-notice
      Welcome to #{@lobby.name}

  #users.content
    - @lobby.lobby_users.each do |gl_user|
      .user{data: { user_id: gl_user.guid }}
        .chip
          = image_tag gl_user.avatar_url, class: 'img-responsive circle'
          %span{class: (gl_user.admin? ? 'teal-text' : (gl_user.moderator? ? 'blue-text' : '')) }= gl_user.name

  .chat-form
    = simple_form_for [@lobby, Message.new], remote: true do |f|
      .input-field.inline
        = f.input_field :message, as: :string, placeholder: 'Send a message...'
      %button.btn{type: 'submit'}= material_icon('send')

%script#lobby-chat-template{type: 'text/html'}
  .chat-notice{class: ''}
    %img{src: '${lobby_user.avatar_url}', alt: "${lobby_user.name}"}
    {{if lobby_user.admin}}
    .rank-icon{class: 'admin'}= material_icon('star')
    {{/if}}
    {{if lobby_user.moderator}}
    .rank-icon{class: 'moderator'}= material_icon('circle')
    {{/if}}
    .name ${lobby_user.name}
    .message ${message}

:coffeescript
  $ ->
    Lobby.subscribe("#{@lobby.token}", "#{@lobby_user.guid}")
