- body_class 'blue-grey lighten-5'

.fixed-action-btn
  - unless @lobby_user.nil?
    = link_to lobby_user_path(@lobby_user), method: :delete,  class: 'btn-floating btn-large waves-effect waves-light red tooltipped', data: { tooltip: 'Leave Lobby', position: 'left' } do
      %i.material-icons close

.row.flex
  .col.grow
    .card
      .card-content
        .card-title= @lobby.name
        .chat{data: { lobby: @lobby.token }}

  .col.fix3
    %ul.collection
      - @lobby.lobby_users.each do |gl_user|
        %li.collection-item.avatar
          = image_tag gl_user.avatar_url, class: 'img-responsive circle'

          .title{class: (gl_user.admin? ? 'teal-text' : (gl_user.moderator? ? 'blue-text' : '')) }= gl_user.name

          - if gl_user.guest?
            .muted (guest)
          - else
            .muted @#{gl_user.user.username}

:javascript
  Lobby.subscribe("#{@lobby.token}")
