- body_class 'blue-grey lighten-5 has-aside'
- title @lobby.name
- description @lobby.inspect

.container.margin-top-md{data: { game: nil }}
  .row
    .col.s12{data: { hand: 'story' }}= Card::Story.random.to_html

    .col.s6{data: { hand: 'bard_1' }}= Card::Fool.random.to_html
    .col.s6{data: { hand: 'bard_2' }}= Card::Crisis.random.to_html

  %p.caption Pick your winner...

  .row.masonry{data: { hand: 'play_area' }}
    - Card::BadDecision.random(9).each do |card|
      .col.s6.m4= card.to_html

.bottom-panel
  %ul.tabs.tabs-border
    %li.tab= link_to 'Fool Hand', '#fool-hand'
    %li.tab= link_to 'Crisis Hand', '#crisis-hand'
    %li.tab= link_to 'Decision Hand', '#decision-hand'
    %li.tab= link_to 'Hide', '#hide', class: 'right'

  #fool-hand.content
    .row.masonry{data: { hand: 'fool' }}
      - Card::Fool.random(5).each do |card|
        .col.s6.m3.l2= card.to_html

  #crisis-hand.content
    .row.masonry{data: { hand: 'crisis' }}
      - Card::Crisis.random(5).each do |card|
        .col.s6.m3.l2= card.to_html

  #decision-hand.content
    .row.masonry{data: { hand: 'bad_decision' }}
      - Card::BadDecision.random(5).each do |card|
        .col.s6.m3.l2= card.to_html


= render 'aside'

:coffeescript
  $ ->
    Lobby.subscribe("#{@lobby.token}", "#{@lobby_user.guid}")
