- body_class 'blue-grey lighten-5 has-aside'
- title @lobby.name
- description @lobby.inspect

.container.margin-top-md{data: { game: nil }}
  #join-btn.center.margin-top-xl
    %p.caption A game is starting!
    = link_to 'Join Game', lobby_players_path(@lobby, player: { lobby_user_id: @lobby_user.guid }), method: :post, remote: :true, class: 'btn'
    = link_to 'Start Game', start_lobby_game_path(@lobby, @lobby.current_game), method: :post, remote: :true, class: 'btn blue-grey'

  .row
    .col.s12.masonry{data: { hand: 'story' }}
    .col.s6.masonry{data: { hand: 'bard_1' }}
    .col.s6.masonry{data: { hand: 'bard_2' }}

  .row.masonry{data: { hand: 'play_area' }}

.bottom-panel
  %ul.tabs.tabs-border
    %li.tab= link_to 'Fool Hand', '#fool-hand'
    %li.tab= link_to 'Crisis Hand', '#crisis-hand'
    %li.tab= link_to 'Decision Hand', '#decision-hand'
    %li.tab= link_to 'Hide', '#hide'

  #fool-hand.content
    .row.masonry{data: { hand: 'fool' }}
  #crisis-hand.content
    .row.masonry{data: { hand: 'crisis' }}
  #decision-hand.content
    .row.masonry{data: { hand: 'bad_decision' }}


= render 'aside'

:coffeescript
  $ ->
    Lobby.subscribe("#{@lobby.token}", "#{@lobby_user.guid}")
