.container
  .fixed-action-btn
    = link_to new_game_lobby_path, class: 'btn-floating btn-large waves-effect waves-light red tooltipped', data: { tooltip: 'New Game', position: 'left' } do
      %i.material-icons add

  %h2.header Game Lobbies
  %p.caption
    Join your friends in a game lobby to chat, spectate the current game, and get dealt into the next round!

  .row
    - @game_lobbies.each do |game_lobby|
      .col.s6.m4
        .card
          .card-content
            .card-title
              = game_lobby.name
              - if game_lobby.has_password?
                %i.tiny.material-icons.red-text.text-lighten-3.tooltipped{data: {tooltip: 'Password Required'}} lock

            .blue-grey-text
              = pluralize game_lobby.users.count, 'User'
              online, started
              = time_ago_in_words(game_lobby.created_at)
              ago.

          .card-action
            = link_to 'Spectate', game_lobby_path(game_lobby)

            - if game_lobby.current_game&.status.nil?
              = link_to 'Join Game', game_lobby_path(game_lobby, join: true)
