- body_class :wide

.row.flex
  .col.grow
    %h2.header= @game_lobby.name
    .chat{data: { game_lobby: @game_lobby.token }}

  .col.fix3
    - unless @game_lobby_user.nil?
      = link_to 'Leave Lobby', game_lobby_user_path(@game_lobby_user), method: :delete, class: 'btn red darken-2 full-width margin-top-md margin-bottom-md'

    - @game_lobby.game_lobby_users.each do |gl_user|
      .card.horizontal
        .card-image
          = gravatar_image_tag gl_user.user.email, class: 'img-responsive'
        .card-stacked
          .card-content.padding-sm{class: (gl_user.admin? ? 'teal-text' : (gl_user.moderator? ? 'blue-text' : '')) }
            .larger.truncate= gl_user.user.display_name
            .muted @#{gl_user.user.username}

:javascript
  GameLobby.subscribe("#{@game_lobby.token}")
