- body_class 'blank valign blue'

.container.container-narrow
  -#.center.bd-logo-fix= image_tag 'bd_plain_logo.jpg', class: 'responsive-img margin-bottom-lg', alt: 'Bad Decisions'
  .card.white.frost
    %ul.tabs.tabs-border.transparent
      %li.tab.s6= link_to t('session.login'), login_path, target: '_self'
      %li.tab.s6= link_to t('session.register'), register_path, class: 'active'

    .card-content
      = simple_form_for @user, url: register_path, method: :post do |f|
        = f.input :display_name, label: 'Name'
        = f.input :username
        = f.input :email
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
        = f.button :submit, t('session.register'), class: 'margin-top-md full-width'
