= action_button 'add', new_admin_expansion_path, tooltip: 'New Expansion'

= record_header 'Expansions',
    'Manage collections of cards in the game. These should reflect physical cards, also.'

= results_message @expansions

.container
  .row
    - @expansions.each do |expansion|
      .col.s12.m6
        .card
          .card-content
            .card-title.truncate= expansion.name

            %ul.counts
              %li
                = link_to '#' do
                  .count= expansion.cards.fools.count
                  Fools
              %li
                = link_to '#' do
                  .count= expansion.cards.crisis.count
                  Crisis
              %li
                = link_to '#' do
                  .count= expansion.cards.bad_decisions.count
                  Decisions
              %li
                = link_to '#' do
                  .count= expansion.cards.stories.count
                  Stories

          .card-action
            = link_to "#{expansion.cards.count} Cards", admin_expansion_path(expansion)
            = link_to 'Edit', admin_expansion_path(expansion), class: 'right'


  .center.margin-top-lg= will_paginate @expansions
