- has_leftnav = lookup_context.exists?('left_nav', params[:controller], true)
- has_aside = lookup_context.exists?('aside', params[:controller], true)
- has_search = lookup_context.exists?('search_form', params[:controller], true)

- if has_search || @breadcrumbs
  .container#breadcrumbs
    .row
      .col-xs-12{class: (has_search ? 'col-sm-6 col-md-8' : '')}
        - if @breadcrumbs
          %ol.breadcrumb
            = render_breadcrumbs tag: :li, separator: ''
      .col-xs-12.col-sm-6.col-md-4
        - if has_search
          = render 'search_form'

- if has_leftnav || has_aside
  .container#content
    .row
      - if has_leftnav
        .col-sm-4.col-md-3
          %nav.leftnav
            = render 'left_nav'

      %div{class: (has_leftnav && has_aside ? 'col-sm-4 col-md-6' : 'col-sm-8 col-md-9')}
        %main
          = yield

      - if has_aside
        .col-sm-4.col-md-3
          %aside
            = render 'aside'

- else
  %main= yield
