%header
  %nav
    .nav-wrapper
      - unless meta_tags[:title]
        = link_to '#!', class: 'brand-logo center' do
          = image_tag 'logos/logo-full_600-white.png'

      %ul
        %li= link_to material_icon('menu'), '#', data: { activates: 'slide-out' }, class: 'button-collapse show-on-large'

        - if meta_tags[:title]
          %li.page-title
            .title.truncate= meta_tags[:title]

      %ul.right
        - if logged_in?
          %li= link_to material_icon('exit_to_app'), logout_path
        - else
          %li= link_to t('session.login'), login_path, class: 'btn waves-effect waves-light'
        %li= link_to material_icon('more_vert'), '#!'
