%nav.navbar.navbar-default{:role => "navigation"}
  .container
    %a.navbar-toggle{ data: { target: '#navbarCollapse', toggle: 'collapse' }, type: 'button'}
      %span.sr-only Toggle navigation
      = icon('bars')

    = link_to root_url, class: 'navbar-brand' do
      .site-name Bad Decisions

    #navbarCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Lobbies', game_lobbies_path

      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to current_user.display_name, '#'
          %li= link_to t('session.logout'), logout_path

        - else
          %li= link_to 'Login', login_path
