%ul#slide-out.side-nav{class: ('fixed' if params[:controller] =~ /^admin/)}
  %li
    .userView
      - if logged_in?
        .background
          = image_tag 'logos/logo-full_600-white.png'

        = link_to '#!avatar' do
          = image_tag current_user.avatar_url, class: 'circle'

        = link_to '#!name' do
          %span.white-text.name= current_user.display_name

        = link_to '#!email' do
          %span.white-text.email= current_user.email

      - else
        = link_to t('session.login'), login_path, class: 'btn'

  %li= link_to material_icon('chat', 'Game Lobbies'), lobbies_path

  - if logged_in?
    %li= link_to material_icon('supervisor_account', 'Friends'), '#!'

    - if Lobby.for_user(current_user).any?
      %li
        %a.subheader Your Games

      - Lobby.for_user(current_user).each do |lobby|
        %li= link_to material_icon('chat', lobby.name), lobby_path(lobby)

  - if current_user&.admin?
    %li.divider
    %li= link_to 'Admin', '#', class: 'subheader'
    %li= link_to material_icon('dashboard', 'Dashboard'), admin_dashboard_path
    %li= link_to material_icon('addon', 'Expansions'), admin_expansions_path
    %li= link_to material_icon('user', 'Users'), admin_users_path
