!!!
%html
  %head
    %title Bad Decisions
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{class: [yield(:body_class), params[:controller].gsub(/[^a-z]+/, '-')].join(' ')}
    = render 'side_nav' unless content_for?(:no_side_nav)
    = render 'header'
    = render 'content'

    - flash.each do |level, message|
      = toast level, message
